<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github_vis.Mapper.ContributorsMapper">
    <resultMap id="recordMapAuto" type="github_vis.Entity.Contributor" autoMapping="true"/>

    <insert id="insertContributor">
        insert into contributors (repo_id, contributor_name, contributor_avatar, contributor_contributions)
        values (#{repo_id}, #{contributor_name}, #{contributor_avatar}, #{contributor_contributions})
    </insert>

    <select id="selectTopNContributorsByRepo_id" resultType="github_vis.Entity.ContributorRecord">
        select contributor_name as name, ranks
        from (select contributor_name, rank() over (order by contributor_contributions desc) as ranks
              from contributors
              where repo_id = #{repo_id}) temp
        where temp.ranks between 1 and #{top};
    </select>

    <select id="selectByContributor_nameAndRepo_id" resultType="github_vis.Entity.Contributor">
        select *
        from contributors
        where repo_id = #{repo_id} and contributor_name = #{name};
    </select>


</mapper>
